<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/">Home</a></h1>
      <h1 style="text-align:center;" ><a href="/vehicles/new">Add Vehicle</a></h1>
    </li>
  </ul>
</nav>

<h1 style="text-align:center;">Vehicles Stock</h1>
<% for vehicle in @vehicles %>
  <br>
  <h3 style="text-align:center;"> Make: <%= vehicle.make %> </h3>
  <h3 style="text-align:center;"> Model: <%= vehicle.model %> </h3>
  <h3 style="text-align:center;"> Stock held: <%= vehicle.quantity %> </h3>
  <h3 style="text-align:center;"> Purchase Price: <%= vehicle.purchase_price %> </h3>
  <h3 style="text-align:center;"> Selling Price: <%= vehicle.selling_price %> </h3>
  <h4 style="text-align:center;"> <a href="/vehicles/<%= vehicle.id %>/edit">Edit Vehicle</a> </h4>
  <br>
  <hr>
<% end %>
