<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/">Home</a></h1>
      <h1 style="text-align:center;" ><a href="/inventory/new">Add to Inventory</a></h1>
      <h1 style="text-align:center;" ><a href="/inventory/order">Show Vehicles in Need of Ordering</a></h1>
    </li>
  </ul>
</nav>

<h1 style="text-align:center;" >Inventory</h1>

<table id="inventory">
  <tr>
    <th>Dealership</th>
    <th>Make</th>
    <th>Model</th>
    <th>Minimum Stock Level</th>
    <th>Quantity In Stock</th>
    <th>Purchase Price</th>
    <th>Mark Up</th>
    <th>Selling Price</th>
    <th>Stock Value</th>
    <th>Delete Stock</th>
  </tr>
  <% for stock in @stocks %>
  <tr>
    <td><%= stock.vehicle.get_dealership_name %></td>
    <td><%= stock.vehicle.make %></td>
    <td><%= stock.vehicle.model %></td>
    <td><%= stock.vehicle.min_stock %></td>
    <td><%= stock.vehicle.quantity %></td>
    <td>£<%= stock.vehicle.purchase_price %></td>
    <td>£<%= stock.vehicle.mark_up %></td>
    <td>£<%= stock.vehicle.selling_price %></td>
    <td>£<%= stock.vehicle.stock_value %></td>
    <td>
      <form action="/inventory/<%= stock.id %>/delete" method="POST">
        <input type="submit" value="delete" />
      </form>
    </td>
  </tr>
  <% end %>
</table>
