<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/inventory">Back to Inventory</a></h1>
    </li>
  </ul>
</nav>

<h1 style="text-align:center;" >Low Stock In Inventory</h1>

<table align="center" id="inventory_low">
  <tr>
    <th>Dealership</th>
    <th>Make</th>
    <th>Model</th>
    <th>Minimum Stock Level</th>
    <th>Quantity In Stock</th>
    <th>Purchase Price</th>
    <th>Low Stock/Out of Stock</th>
  </tr>
  <% for stock in @stocks %>
    <% if stock.vehicle.min_stock >= stock.vehicle.quantity %>
  <tr>
    <td><%= stock.vehicle.get_dealership_name %></td>
    <td><%= stock.vehicle.make %></td>
    <td><%= stock.vehicle.model %></td>
    <td><%= stock.vehicle.min_stock %></td>
    <td><%= stock.vehicle.quantity %></td>
    <td>£<%= stock.vehicle.purchase_price %></td>
    <td>
      <% if stock.vehicle.quantity > "0"%>
        Low Stock
      <% else %>
        Out of Stock
      <% end %>
    </td>
  </tr>
    <% end %>
  <% end %>
</table>
