<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/dealerships">Go Back to Dealerships List</a></h1>
    </li>
  </ul>
</nav>
<br>
<br>

<h1 style="text-align:center;">UPDATE DEALERSHIP INFORMATION.</h1>
<h3 style="text-align:center;">Current Information Held For Dealership</h3>
<p style="text-align:center;"> Name: <%= @dealership.name() %> </p>
<p style="text-align:center;"> Contact Number: <%= @dealership.contact() %> </p>
<br>
<hr>
<br>
<form style="text-align:center;" action="/dealerships/<%= @dealership.id %>" method="post">
  <label for="name">Name</label>
  <input type="text" name="name" id="name" value="<%= @dealership.name() %>">
  <br>
  <br>

  <label for="contact">Contact Number</label>
  <input type="text" name="contact" id="contact" value="<%= @dealership.contact() %>">
  <br>
  <br>

  <input type="submit" value="Update Dealership">

</form>
