<nav>
  <ul style="list-style: none;">
    <li>
      <h1 style="text-align:center;" ><a href="/">Home</a></h1>
      <h1 style="text-align:center;" ><a href="/dealerships/new">Add Dealership</a></h1>
    </li>
  </ul>
</nav>

<br>
<h1 style="text-align:center;">Dealerships List</h1>
<br>

<table>
  <tr>
    <th>Dealership Name</th>
    <th>Contact Number:</th>
    <th>Show Details</th>
    <th>Edit Details</th>
    <th>Delete Details</th>
  </tr>
  <% for dealership in @dealerships %>
  <tr>
    <td><%= dealership.name %></td>
    <td><%= dealership.contact %></td>
    <td>
      <form action="/dealerships/<%= dealership.id %>" method="get">
        <input type="submit" value="SHOW" />
      </form>
    </td>
    <td>
      <form action="/dealerships/<%= dealership.id %>/edit" method="get">
        <input type="submit" value="EDIT" />
      </form>
    </td>
    <td>
      <form style="text-align:center;" action="/dealerships/<%= dealership.id() %>/delete" method="post">
        <input type="submit" value="DELETE">
      </form>
    </td>
  </tr>
  <% end %>
</table>
